:root {
  --color-primary: #fe7230;
  --color-secundary: #806458;
  --color-third: #585A80;
  --color-fourth: #638058;

  --gray-medium: #565656;

  --border-radius-medium: 8px;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #565656;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  height: auto;
  background: #ffffff;
}

#app {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  max-width: 1920px;
  min-width: 320px;
  height: auto;
  min-height: 100vh;
}

.main-content-visible {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  height: auto;
  margin: 0 auto;
  min-height: calc(100vh - 65px);
  background: #f5f5f5;
  display: grid;
  padding: 16px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 16px;

  @media screen and (max-width: 880px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 580px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.main-content-hidden {
  display: none;
}


.loader-parent-hidden {
  display: none;
}

.loader-parent-visible {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 65px);
  width: 100%;

}

.loader {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: var(--color-third) #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent var(--color-primary) var(--color-primary);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: var(--color-fourth) #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    

