:root {
  --color-primary: #fe7230;
  --color-secundary: #806458;
  --color-third: #585A80;
  --color-fourth: #638058;

  --gray-medium: #565656;

  --border-radius-medium: 8px;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #565656;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  height: auto;
  background: #ffffff;
}

#app {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  max-width: 1920px;
  min-width: 320px;
  height: auto;
  min-height: 100vh;
}

.main-content {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  height: auto;
  margin: 0 auto;
  min-height: calc(100vh - 65px);
  background: #f5f5f5;
  display: grid;
  padding: 16px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 16px;

  @media screen and (max-width: 880px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 580px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

