.card {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background: white;
    border-radius: var(--border-radius-medium);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px;
}

.card-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.card-divider {
    width: 100%;
    height: 1px;
    background: #e0e0e0;
}

.card-environment-speed {
    width: 100%;
    height: auto;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
        gap: 8px;
    }
}

.card-environment {
    box-sizing: border-box;
    width: 55%;
    height: 100%;
    border-radius: var(--border-radius-medium);
    background: var(--color-third);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    color : white;

    @media screen and (max-width: 1200px) {
        width: 100%;
    }
}

.card-sub-value {
    box-sizing: border-box;
    width: auto;
    max-width: 40%;
    height: 100%;
    border-radius: var(--border-radius-medium);
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 4px 16px;
    color : var(--gray-medium);
    border: 1px solid var(--gray-medium);

    @media screen and (max-width: 1200px) {
        width: 100%;
        max-width: unset;
        align-items: center;
    }
}

.card-sub-value__value {
    font-weight: 500;
    margin-left: 10px;
}

.card-subtitle {
    margin: 0;
    padding: 0;
}

.card-work-item {
    width: 100%;
    height: auto;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-sub-work-item-value {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: var(--color-fourth);
    border-radius: var(--border-radius-medium);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;
    color : white;
    border: 1px solid var(--gray-medium);
}

.card-work-order {
    width: 100%;
    height: auto;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-sub-work-order-value {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: var(--border-radius-medium);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;
    color : var(--gray-medium);
    border: 1px solid var(--gray-medium);
}

.card-sit-color {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.card-color-key{
    box-sizing: border-box;
    width: auto;
    max-width: 40%;
    height: 100%;
    border-radius: var(--border-radius-medium);
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 4px 16px;
    color : var(--gray-medium);
    border: 1px solid var(--gray-medium);
}

.card-color-key__value {
    font-weight: 500;
}

.card-mix-value {
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    border-radius: var(--border-radius-medium);
    background: var(--color-secundary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    color : white;
}